
:root {
    /*colors*/
    --color-blue: #8ab4f8;
    --color-light: #202124;
    --color-dark: #FFF;
    --color-blue-900: #1a73e8;
    --color-blue-300: #8ab4f8;
    --color-blue-200: #93baf9;
    --color-gray-900: #171717;
    --color-gray-800: #202124;
    --color-gray-600: #303134;
    --color-gray-300: #5f6368;
    /*fonts*/
    --font-xs: 0.875rem;
    --font-sm: 1rem;
    --font-md: 1.35rem;
    --font-lg: 1.65rem;
    --font-xl: 1.8rem;
    --font-2xl: 2.3rem;
}
@media (prefers-color-scheme: dark) {

}
*, *::before, *::after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    max-width: 100vw;
    font-family: arial,sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
    margin: 0;
}
/* -------------HEADER_------------ */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.75rem;
  padding: 0.38rem;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: 100%;
  margin: 0;
}
.header__nav > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.header__nav--letters {
  font-size: var(--font-xs);
  text-decoration: none;
  color: var(--color-dark);
  text-align: center;
}
.header__nav--letters:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header__nav--icon {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
  border-radius: 50%;
}
.header__nav--icon:hover {
  background-color: var(--color-gray-600);
}
.icon-grid {
  color: var(--color-dark);
}
.header__nav--button {
  margin-right: 25px;
}
.header__nav--button {
  cursor: pointer;
  box-shadow: none;
  color: var(--color-light);
  background-color: var(--color-blue);
  padding: 0.55rem 1.4375rem;
  border-radius: 3px;
  font-size: var(--font-xs);
  text-decoration: none;
  transition: background-color 100ms ease-in;
}
.header__nav--button {
  background-color: var(--);
}

/* -------MAIN -------- */
.main-box {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.main__box--logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.box__logo--google img {
  width: auto;
}
.box__logo--share img {
  width: 3vmin;
  height: 3vmin;
  padding-top: 70px;
}

/* --Barra-- */

.main__box--search {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.search-bar {
  width: 43%;
  max-width: 584px;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1.3rem;
  background-color: var(--color-light);
  border: 1px solid var(--color-gray-300);
  border-radius: 3rem;
  box-shadow: 0 1px 6px 0 #17171700;
}
.search-bar:hover {
  background-color: var(--color-gray-600);
  border: 1px solid #30313400;
  box-shadow: 0 1px 6px 0 #171717;
}
.search-bar__logo label>img {
  width: 18px;
  height: 18px;
}
.search-bar__input {
  background-color: inherit;
  color: var(--color-dark);
  font-size: var(--font-sm);
  width: 95%;
  height: 100%;
  border: none;
  padding: 0px 10px;
}
.search-bar__input:focus {
  outline: none;
}
.search-bar__mic {
  margin: 0;
}

/* --ME SIENTO CON SUERTE-- */

.main__box--buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.main__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.main__buttons > a {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 2.2rem;
  text-decoration: none;
  color: var(--color-dark);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-gray-600);
  border: solid 1px rgba(0, 0, 0, 0.164);
  border-radius: 4px;
}
.main__buttons a:hover {
  border: 1px solid var(--color-gray-300);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.164);
}

/* --OFRECIDO POR GOOGLE-- */
.buttons__languaje {
  margin: 20px;
  font-size: 12px;
}
.buttons__languaje a {
  text-decoration: none;
  padding-left: 10px;
  color: var(--color-blue-300);
}


/* -------FOOTER-------- */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-gray-900);
  color: var(--color-dark);
}

.footer__country {
  background-color: inherit;
  border-bottom: 1px solid #3c4043;
  font-size: var(--font-xs)
  width: 100%; 
  padding: 1rem 2rem;
}
.footer__nav {
  width: 100%;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 13px;
}
.footer__nav a {
  text-decoration: none;
  text-align: center;
  color: inherit;
}
.footer__nav a:hover {
  text-decoration: underline;
}
.footer__nav--box-left, .footer__nav--box-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  gap: 1.875rem;
  font-size: var(--font-xs);
}
.footer__nav--box-right {
  text-align: center;
  color: inherit;
}
@media only screen and (max-width: 520px) {
  .search-bar {
    width: 90%;
    max-width: 584px;
  }
  .footer__nav {
    flex-flow: column wrap;
    gap: 1.5rem;
  }
}